<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}"></link>
    <title>EyeCon</title>
   <style>
      .navbar-custom {
    background-color: #162469;
}

 .tales {
	  width: 100%;
	}
	.carousel-inner{
	  width:100%;
	  max-height: 500px !important;
	}

      #gallery-text-left{
}
#gallery-paragraph-1{
border-left:8px solid #12376C;
border-radius:4px;
padding-left:15px;
}
#gallery-paragraph-2{
border-left:8px solid #12376C;
border-radius:4px;
padding-left:15px;
}
#gallery-text-right{
}
#grad1 {
  height: 100px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, darkblue, lightblue);
}
</style>
  </head>
  <body>
  	


<!-- Navbar Code -->
<div class="header sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark navbar-custom">
    <a class="navbar-brand" href="index.html"><img src="{{url_for('static', filename='Logo5.png')}}"height="55" width="120"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('index')}}">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('index1')}}">EyeBlink Panel</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('guide')}}">Guide</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
      </li>
    </ul>
    </div>
  </nav>
  </div>

    <div id="grad1" class="jumbotron jumbotron-fluid margin-0">
		<div class="container">
			<h1 class="display-6" style="color:white">User Instructions<br><br><br></h1>
			
		</div>
	</div>
  <div class="container" align="justify">

    <p style="font-family:Georgia">

  Hello dear user! Firstly, we would like to thank you for choosing EyeCon. It has been designed by keeping all your needs and specifications in mind and we hope that it will prove to be very helpful and make your life easier.  In order to help you navigate better, we would like to explain the working of the same.  </p></div>
<!-- <div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h1 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C"><u>User Instructions</u></h1><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" style="float:right">
    Hello dear user! Firstly, we would like to thank you for choosing EyeCon. It has been designed by keeping all your needs and specifications in mind and we hope that it will prove to be very helpful and make your life easier.  In order to help you navigate better, we would like to explain the working of the same.  
    </p>
    <br></div></div></div> -->
<br>
<div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h3 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C">Step 1</h3><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" >
    The EyeCon Website would take the live video of the user as input. After clicking on the launch interface button, the camera would launch.&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; 

&nbsp; &nbsp;&nbsp;&nbsp;  </p>
    <br></div></div></div>
<br>
<div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h3 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C">Step 2</h3><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia">
   Once, the camera is on and the live video capturing begins, please ensure that you are seated right in front of the camera. Please ensure that your face is completely visible and no part of the face is obliquely visible or covered. Please ensure that the background is sufficiently illuminated.
 &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
&nbsp; &nbsp;&nbsp;&nbsp;  </p>
    <br></div></div></div>
<br>
<div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h3 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C">Step 3</h3><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" style="float:right">
    After the camera identifies your face, two square boxes would appear around the eye region. If these boxes are not visible around your eyes, kindly sit in a location with ample amount of light to increase brightness on your face. This will help the software to detect your eyes.&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;   </p>
    <br></div></div></div>
<br>
<div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h3 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C">Step 4</h3><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" style="float:right">
    Now with the use of eye blinks, user can navigate across the keyboard. The navigation process is explained in next step. &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; 

&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;    </p>
    <br></div></div></div>
<br><div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h3 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C">Step 5</h3><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" >
    The navigation across the keyboard is based on the number of blinks performed. The blinker would move across the keyboard in a columnar fashion first. After a single blink is detected, a particular column would be selected and then the blinker will move across the selected column in the row-wise pattern. To select a particular letter, the user would have to blink twice and then the letter would be selected and would be visible on the output screen. </p>
    <br></div></div></div>
<br><div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h3 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C">Step 6</h3><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" style="float:right">
    In order to convert these letters to speech, the user would have to click on the speak button. If the letters form a meaningful sentence, the speaker would read it coherently else the letters would be pronounced singularly. 
 </p>
    <br></div></div></div>
<!-- <br>
<div class="container">
<div id="gallery-text >

    <div id="gallery-text-left" style="float:left">
    <h1 id="gallery-text-quote-left" style="font-family:Century Gothic; color:#12376C"><u>Hey</u></h1><br>
    </div>
    <div id="gallery-text-right" style="float:right" align="justify">
    <p id="gallery-paragraph-2" style="font-family:Georgia" style="float:right">
    We hope you have a great time using this tool. In case of any difficulties, you can reach through email or phone numbers provided in the <a href="{{url_for('contact')}}">Contact Us</a> page. Have a happy experience!  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; 

&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 
    </p>
    <br></div></div></div> -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" align="justify">

    <p style="font-family:Georgia">

  <b>  We hope you have a great time using this tool. In case of any difficulties, you can reach through email or phone numbers provided in the <a href="{{url_for('contact')}}">Contact Us</a> page. Have a happy experience!</p></b></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<!-- Footer Code -->
<footer class="footer-design">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="siteinfo">
          <h3>EyeCon-The Speaker for Paralysed
          <a href="#"></a>
          </h3>
        </div><br>
        <div class="footer-menu">
          <ul>
            <li>
              <a href="{{url_for('index')}}">HOME -</a>             
              <a href="{{url_for('index1')}}">EYEBLINK PANEL -</a>
              <a href="{{url_for('contact')}}">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

