<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}"></link>
    <title>EyeCon</title>
   <style>
      .navbar-custom {
    background-color: #162469;
}
</style>
  </head>
  <body>
  	


<!-- Navbar Code -->
<div class="header sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark navbar-custom">
    <a class="navbar-brand" href="index.html"><img src="{{url_for('static', filename='Logo5.png')}}"height="55" width="120"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('index')}}">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('eyeblinkpanel')}}">EyeBlink Panel</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('history')}}">History</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
      </li>
    </ul>
    </div>
  </nav>
  </div>


    <div class="jumbotron jumbotron-fluid margin-0">
		<div class="container">
			<h1 class="display-4">History</h1>
			
		</div>
	</div>
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row my-3 mx-2">
		<div class="col-md-10 col-sm-6">
			<div class="row">
				<div class="col-md-12">
						<div class="card mb-3">
						  <div class="row g-0">
							<div class="col-md-4">
							  <img src="..." alt="...">
							</div>
							<div class="col-md-8">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							  </div>
							</div>
						  </div>
						</div>
				</div>
				<div class="col-md-12">
						<div class="card mb-3">
						  <div class="row g-0">
							<div class="col-md-4">
							  <img src="..." alt="...">
							</div>
							<div class="col-md-8">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							  </div>
							</div>
						  </div>
						</div>
				</div>
				<div class="col-md-12">
						<div class="card mb-3">
						  <div class="row g-0">
							<div class="col-md-4">
							  <img src="..." alt="...">
							</div>
							<div class="col-md-8">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							  </div>
							</div>
						  </div>
						</div>
				</div>
				<div class="col-md-12">
						<div class="card mb-3">
						  <div class="row g-0">
							<div class="col-md-4">
							  <img src="..." alt="...">
							</div>
							<div class="col-md-8">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							  </div>
							</div>
						  </div>
						</div>
				</div>
				<div class="col-md-12">
						<div class="card mb-3">
						  <div class="row g-0">
							<div class="col-md-4">
							  <img src="..." alt="...">
							</div>
							<div class="col-md-8">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							  </div>
							</div>
						  </div>
						</div>
				</div>
			</div>
		</div>
		
		</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





<!-- Footer Code -->
<footer class="footer-design">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="siteinfo">
          <h3>EyeCon-The Speaker for Paralysed
          <a href="#"></a>
          </h3>
        </div><br>
        <div class="footer-menu">
          <ul>
            <li>
              <a href="{{url_for('index')}}">HOME -</a>             
              <a href="{{url_for('eyeblinkpanel')}}">EYEBLINK PANEL -</a>
              <a href="{{url_for('contact')}}">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

